<!-- NAVBAR START -->
<div id="nav">
    <ul>
        <li><a href="/index.html"><span id="index-tab">Landing</span></a></li>
        <li>
            <details id="pages-nav" class="nav-tab">
                <summary id="pages-tab">Pages</summary>
                <a href="/pages/about.html"><span id="about-tab">About</span></a>
                <a href="/pages/guestbook.html"><span id="guestbook-tab">Guestbook</span></a>
                <a href="/pages/sitemap.html"><span id="sitemap-tab">Sitemap</span></a>
            </details>
        </li>
        <li>
            <details id="posts-nav" class="nav-tab">
                <summary id="posts-loader-tab">Posts</summary>
                <a href="/pages/posts.html"><span id="posts-tab">Posts</span></a>
                <a href="/pages/media.html"><span id="media-tab">Media</span></a>
                <a href="/pages/lore.html"><span id="lore-tab">Lore</span></a>
            </details>
        </li>
        <li>
            <details id="games-nav" class="nav-tab">
                <summary id="games-tab">Games</summary>
                <a href="/games/fishing/fishing.html"><span id="fishing-tab">Fishing</span></a>
            </details>
        </li>
    </ul>
</div>
<!-- NAVBAR END -->